.default-theme {
  --theme-bg-default: #ffffff;
  --theme-bg-header: #242930;
  --theme-bg-footer: #242930;
  --theme-bg-surface: #ffffff;
  --theme-bg-surface-alt: #f9f9fa;
  --theme-bg-primary: #005f9e;
  --theme-bg-secondary: #adb4bc;
  --theme-bg-subtle: #eceef0;
  --theme-bg-muted: #cfd3d8;
  --theme-bg-promo: #d72027;
  --theme-fg-default: #000000;
  --theme-fg-on-primary: #ffffff;
  --theme-fg-on-secondary: #ffffff;
  --theme-fg-on-header: #eceef0;
  --theme-fg-on-footer: #cfd3d8;
  --theme-fg-muted: #7f8a97;
  --theme-fg-subtle: #adb4bc;
  --theme-fg-link: #005f9e;
  --theme-fg-promo: #d72027;
  --theme-fg-on-promo: #ffffff;
  --theme-button-primary-background: #005f9e;
  --theme-button-ghost-outline: #000000;
  --theme-button-ghost-text: #000000;
  --theme-border-width-button-ghost: 4;
  --theme-border-radius-button: 4;
  --theme-border-radius-card: 4;
  --theme-border-radius-input: 4;
  --theme-font-families-display: Gotham;
  --theme-font-families-body: Helvetica Neue Condensed;
  --theme-font-families-nav: Gotham;
  --theme-font-sizes-default: 16;
  --display: uppercase;
  --navigation: uppercase;
  --body: none;
}