.default-theme {
  --font-families-headlines: Heebo;
  --font-families-body: Heebo;
  --font-families-nav: Heebo;
  --font-families-documentation-headlines: Heebo;
  --font-families-documentation-body: Heebo;
  --font-weights-headlines-bold: Bold;
  --font-weights-headlines-regular: Regular;
  --font-weights-headlines-light: Light;
  --font-weights-headlines-semibold: SemiBold;
  --font-weights-body-bold: Bold;
  --font-weights-body-regular: Regular;
  --font-weights-body-light: Light;
  --font-weights-body-semibold: SemiBold;
  --font-weights-nav-mobile-l1: Bold;
  --font-weights-nav-mobile-l2: Regular;
  --font-weights-nav-desktop-l1: Bold;
  --font-weights-nav-desktop-l2: Regular;
  --line-heights-headlines-xl: 110%;
  --line-heights-headlines-lg: 110%;
  --line-heights-headlines-default: 110%;
  --line-heights-headlines-sm: 130%;
  --line-heights-body-relaxed: 175%;
  --line-heights-body-default: 150%;
  --font-size-base: 16;
  --font-size-scale: 1.2;
  --font-size-xxs: 9;
  --font-size-xs: 11;
  --font-size-sm: 13;
  --font-size-lg: 19;
  --font-size-xl: 23;
  --font-size-2xl: 28;
  --font-size-3xl: 34;
  --font-size-4xl: 41;
  --font-size-5xl: 49;
  --font-size-6xl: 59;
  --font-size-7xl: 71;
  --font-size-8xl: 85;
  --font-size-9xl: 102;
  --font-size-10xl: 122;
  --letter-spacing-body: 0%;
  --letter-spacing-headlines: -1%;
  --letter-spacing-buttons: 3%;
  --letter-spacing-captions: 0%;
  --letter-spacing-nav-mobile-l1: 10%;
  --letter-spacing-nav-mobile-l2: 10%;
  --letter-spacing-nav-desktop-l1: 10%;
  --letter-spacing-nav-desktop-l2: 10%;
  --paragraph-spacing-default: 0;
  --text-case-none: none;
  --text-case-captions: none;
  --text-case-buttons: none;
  --text-case-body: none;
  --text-case-headlines: none;
  --text-case-nav-mobile-l1: uppercase;
  --text-case-nav-mobile-l2: none;
  --text-case-nav-desktop-l1: uppercase;
  --text-case-nav-desktop-l2: none;
  --text-decoration-none: none;
  --text-decoration-buttons: none;
  --text-decoration-captions: none;
  --text-decoration-nav-mobile-l1: none;
  --text-decoration-nav-mobile-l2: none;
  --text-decoration-nav-desktop-l1: none;
  --text-decoration-nav-desktop-l2: none;
  --theme-fg-opacity-1: #ffffff03;
  --theme-fg-opacity-5: #ffffff0d;
  --theme-fg-opacity-10: #ffffff1a;
  --theme-fg-opacity-20: #ffffff33;
  --theme-fg-opacity-30: #ffffff4d;
  --theme-fg-opacity-40: #ffffff66;
  --theme-fg-opacity-50: #ffffff80;
  --theme-fg-opacity-60: #ffffff99;
  --theme-fg-opacity-70: #ffffffb3;
  --theme-fg-opacity-80: #ffffffcc;
  --theme-fg-opacity-90: #ffffffe6;
  --theme-fg-on-dark: #ffffff;
  --theme-fg-default: #171717;
  --theme-fg-on-accent: #ffffff;
  --theme-fg-muted: #616161;
  --theme-fg-subtle: #9e9e9e;
  --theme-fg-on-disabled: #757575;
  --theme-fg-disabled: #bdbdbd;
  --theme-border-default: #eeeeee;
  --theme-overlay-bg: #171717;
  --theme-bg-surface: #ffffff;
  --theme-bg-subtle: #eeeeee;
  --theme-bg-muted: #e0e0e0;
  --theme-bg-canvas: #fcfcfc;
  --theme-accent-disabled: #e0e0e0;
  --theme-accent-default: #3d53f5;
  --theme-accent-subtle: #eceefe;
  --theme-accent-muted: #6475f7;
  --theme-accent-emphasis: #3142c4;
  --theme-warning-default: #b38327;
  --theme-warning-subtle: #fff8eb;
  --theme-warning-muted: #ffe4af;
  --theme-warning-emphasis: #ffbb38;
  --theme-warning-on-warning: #171717;
  --theme-info-default: #3142c4;
  --theme-info-subtle: #d8ddfd;
  --theme-info-muted: #8b98f9;
  --theme-info-emphasis: #3d53f5;
  --theme-info-on-info: #ffffff;
  --theme-error-default: #9c0f2e;
  --theme-error-subtle: #fce8ec;
  --theme-error-muted: #e95c7b;
  --theme-error-emphasis: #df1642;
  --theme-error-on-error: #ffffff;
  --theme-success-default: #11763d;
  --theme-success-subtle: #e8f6ee;
  --theme-success-muted: #5dc389;
  --theme-success-emphasis: #18a957;
  --theme-success-on-success: #ffffff;
  --theme-input-background: #ffffff;
  --theme-input-text: #424242;
  --theme-input-placeholder: #9e9e9e;
  --theme-input-border-default: #e0e0e0;
  --theme-input-border-disabled: #eeeeee;
  --theme-input-fg-disabled: #e0e0e0;
  --theme-shadow-default: #303133;
  --theme-shadow-opacity-base: 0.05;
  --theme-shadow-opacity-blur: 0.1;
  --shadow-theme-20: [object Object],[object Object];
  --shadow-theme-40: [object Object],[object Object];
  --shadow-theme-60: [object Object],[object Object];
  --shadow-theme-80: [object Object],[object Object];
  --shadow-theme-100: [object Object],[object Object];
  --typography-display-text-9xl-bold: [object Object];
  --typography-display-text-9xl-semibold: [object Object];
  --typography-display-text-9xl-regular: [object Object];
  --typography-display-text-9xl-light: [object Object];
  --typography-display-text-8xl-bold: [object Object];
  --typography-display-text-8xl-semibold: [object Object];
  --typography-display-text-8xl-regular: [object Object];
  --typography-display-text-8xl-light: [object Object];
  --typography-display-text-7xl-bold: [object Object];
  --typography-display-text-7xl-semibold: [object Object];
  --typography-display-text-7xl-regular: [object Object];
  --typography-display-text-7xl-light: [object Object];
  --typography-display-text-6xl-bold: [object Object];
  --typography-display-text-6xl-semibold: [object Object];
  --typography-display-text-6xl-regular: [object Object];
  --typography-display-text-6xl-light: [object Object];
  --typography-display-text-5xl-bold: [object Object];
  --typography-display-text-5xl-semibold: [object Object];
  --typography-display-text-5xl-regular: [object Object];
  --typography-display-text-5xl-light: [object Object];
  --typography-display-text-4xl-bold: [object Object];
  --typography-display-text-4xl-semibold: [object Object];
  --typography-display-text-4xl-regular: [object Object];
  --typography-display-text-4xl-light: [object Object];
  --typography-display-text-3xl-bold: [object Object];
  --typography-display-text-3xl-semibold: [object Object];
  --typography-display-text-3xl-regular: [object Object];
  --typography-display-text-3xl-light: [object Object];
  --typography-display-text-2xl-bold: [object Object];
  --typography-display-text-2xl-semibold: [object Object];
  --typography-display-text-2xl-regular: [object Object];
  --typography-display-text-2xl-light: [object Object];
  --typography-display-text-xl-bold: [object Object];
  --typography-display-text-xl-semibold: [object Object];
  --typography-display-text-xl-regular: [object Object];
  --typography-display-text-xl-light: [object Object];
  --typography-display-text-lg-bold: [object Object];
  --typography-display-text-lg-semibold: [object Object];
  --typography-display-text-lg-regular: [object Object];
  --typography-display-text-lg-light: [object Object];
  --typography-display-text-base-bold: [object Object];
  --typography-display-text-base-semibold: [object Object];
  --typography-display-text-base-regular: [object Object];
  --typography-display-text-base-light: [object Object];
  --typography-display-text-sm-bold: [object Object];
  --typography-display-text-sm-semibold: [object Object];
  --typography-display-text-sm-regular: [object Object];
  --typography-display-text-sm-light: [object Object];
  --typography-display-text-xs-bold: [object Object];
  --typography-display-text-xs-semibold: [object Object];
  --typography-display-text-xs-regular: [object Object];
  --typography-display-text-xs-light: [object Object];
  --typography-display-text-xxs-bold: [object Object];
  --typography-display-text-xxs-semibold: [object Object];
  --typography-display-text-xxs-regular: [object Object];
  --typography-display-text-xxs-light: [object Object];
  --typography-body-text-9xl-bold: [object Object];
  --typography-body-text-9xl-semibold: [object Object];
  --typography-body-text-9xl-regular: [object Object];
  --typography-body-text-9xl-light: [object Object];
  --typography-body-text-8xl-bold: [object Object];
  --typography-body-text-8xl-semibold: [object Object];
  --typography-body-text-8xl-regular: [object Object];
  --typography-body-text-8xl-light: [object Object];
  --typography-body-text-7xl-bold: [object Object];
  --typography-body-text-7xl-semibold: [object Object];
  --typography-body-text-7xl-regular: [object Object];
  --typography-body-text-7xl-light: [object Object];
  --typography-body-text-6xl-bold: [object Object];
  --typography-body-text-6xl-semibold: [object Object];
  --typography-body-text-6xl-regular: [object Object];
  --typography-body-text-6xl-light: [object Object];
  --typography-body-text-5xl-bold: [object Object];
  --typography-body-text-5xl-semibold: [object Object];
  --typography-body-text-5xl-regular: [object Object];
  --typography-body-text-5xl-light: [object Object];
  --typography-body-text-4xl-bold: [object Object];
  --typography-body-text-4xl-semibold: [object Object];
  --typography-body-text-4xl-regular: [object Object];
  --typography-body-text-4xl-light: [object Object];
  --typography-body-text-3xl-bold: [object Object];
  --typography-body-text-3xl-semibold: [object Object];
  --typography-body-text-3xl-regular: [object Object];
  --typography-body-text-3xl-light: [object Object];
  --typography-body-text-2xl-bold: [object Object];
  --typography-body-text-2xl-semibold: [object Object];
  --typography-body-text-2xl-regular: [object Object];
  --typography-body-text-2xl-light: [object Object];
  --typography-body-text-xl-bold: [object Object];
  --typography-body-text-xl-semibold: [object Object];
  --typography-body-text-xl-regular: [object Object];
  --typography-body-text-xl-light: [object Object];
  --typography-body-text-lg-bold: [object Object];
  --typography-body-text-lg-semibold: [object Object];
  --typography-body-text-lg-regular: [object Object];
  --typography-body-text-lg-light: [object Object];
  --typography-body-text-base-bold: [object Object];
  --typography-body-text-base-semibold: [object Object];
  --typography-body-text-base-regular: [object Object];
  --typography-body-text-base-light: [object Object];
  --typography-body-text-sm-bold: [object Object];
  --typography-body-text-sm-semibold: [object Object];
  --typography-body-text-sm-regular: [object Object];
  --typography-body-text-sm-light: [object Object];
  --typography-body-text-xs-bold: [object Object];
  --typography-body-text-xs-semibold: [object Object];
  --typography-body-text-xs-regular: [object Object];
  --typography-body-text-xs-light: [object Object];
  --typography-body-text-xxs-bold: [object Object];
  --typography-body-text-xxs-semibold: [object Object];
  --typography-body-text-xxs-regular: [object Object];
  --typography-body-text-xxs-light: [object Object];
  --typography-nav-mobile-l1: [object Object];
  --typography-nav-mobile-l2: [object Object];
  --typography-nav-desktop-l1: [object Object];
  --typography-nav-desktop-l2: [object Object];
  --typography-button-normal-bold: [object Object];
  --typography-button-normal-regular: [object Object];
  --typography-button-large-bold: [object Object];
  --typography-button-large-regular: [object Object];
  --typography-button-xlarge-bold: [object Object];
  --typography-button-xlarge-regular: [object Object];
  --typography-input-normal-bold: [object Object];
  --typography-input-normal-regular: [object Object];
  --typography-input-large-bold: [object Object];
  --typography-input-large-regular: [object Object];
}